hr{
border-style: none;
border-top: dotted;
border-color: rgba(0, 47, 255, 0.747);
border-width: 5px;
width:10%;
}

        body{
            background-color:#59889eef;

            
            }

            img{
                border-radius: 80px;
                border-style: double;
                border-color:whitesmoke;
                size: 20px;
            }
            .fit-picutre{
                width: 150px;
            }
            h2,h3{color:aqua;
            }


            
